body{
	background-color:#fff;
	margin:0px;
	padding:0px;
}

#bluefly{
	background-color:#2cb3f1;
	height:500px;
	
}

#bluefly #infomain{
	font-family: 'Whitney SSm A','Whitney SSm B',Helvetica,Arial;  
	font-weight:300;
	font-style:normal;
    line-height: 42px;
	font-size:27px;
	color:#FFF;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding-top:100px;
	text-shadow: 0 1px 1px #9b9b9b;
}

#bluefly #infomain #hellotext{
	font-size:52px;
	margin-bottom:30px;
}

#bluefly #infomain #socialicons{
	margin-top:20px;
	
}

#bluefly #infomain #socialicons a{
	color:#FFF;
}

#bluefly #infomain #socialicons i{
	margin-left:15px;
	margin-right:15px;
	font-size:35px;
	width:800px
}

#circular {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background:url(../images/sgheysar-com-avatar.png);
	background-position:0px 0px;
	background-size:150px 150px;
	border: 4px #FFF solid;
	z-index:1000;
	position:absolute;
	margin-top:425px;
	margin-left:auto;
	margin-right:auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

#moreinfo{
	font-family: 'Whitney SSm A','Whitney SSm B',Helvetica,Arial;  
	font-weight:300;
	font-style:normal;
    line-height: 42px;
	font-size:22px;
	color:#111111;
	width:800px;
	height:160px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:200px;
	padding-top:150px;
	text-align:center;
}

#moreinfo a{
	color:#1c92e5;
	text-decoration:none;
}

#moreinfo a:hover{
	color:#309;
	text-decoration:none;
}

#footer{
	font-family: 'Whitney SSm A','Whitney SSm B',Helvetica,Arial;  
	font-weight:300;
	font-style:normal;
	font-size:15px;
	color:#999999;
	width:200px;
	height:30px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:50px;
	text-align:center;
}

::-moz-selection{
	background:#006ba9;
	color:#fff;
 }
     
::selection{
	background:#006ba9;
	color:#fff;
}
